<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/20220111_hj_know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Train Data 불러오기


---

리스트 인덱스별로  
test[0] : 2017 data  
test[1] : 2018 data  
test[2] : 2019 data  
test[3] : 2020 data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore') 
know_test = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/KNOW/test/*.csv'))]

## 전체 데이터 전처리

In [3]:
know2017 = know_test[0]
know2018 = know_test[1]
know2019 = know_test[2]
know2020 = know_test[3]

In [4]:
#빈칸 제거
know2017 = know2017.replace(r'^\s*$','0',regex=True)
know2018 = know2018.replace(r'^\s*$','0',regex=True)
know2019 = know2019.replace(r'^\s*$','0',regex=True)
know2020 = know2020.replace(r'^\s*$','0',regex=True)

In [5]:
know2018

        idx  cq1  cq2  cq3  cq4  ...  bq39  bq40  bq41_1  bq41_2  bq41_3
0      9486    4    1    3    1  ...     0  35.0       0       0    2000
1      9487    5    4    5    5  ...     1  65.0    2700    2200       0
2      9488    3    3    3    4  ...     0  60.0       0       0    3200
3      9489    4    4    4    4  ...     0  20.0       0       0    2000
4      9490    5    2    3    2  ...     2  35.0    3000    1500       0
...     ...  ...  ...  ...  ...  ...   ...   ...     ...     ...     ...
9064  18564    5    4    2    2  ...     0  72.0       0       0    8000
9065  18565    2    2    5    5  ...     1  40.0    3000    2100       0
9066  18566    4    4    3    2  ...     2  40.0    1800    1800       0
9067  18567    4    2    5    5  ...     1  52.0    3500    2800       0
9068  18568    4    2    5    4  ...     1  40.0    2500    2500       0

[9069 rows x 140 columns]

In [6]:
# 데이터 전처리

def columns_data_processing1(Series):
  return Series.str.replace(r'[^\w]',"  ")

def columns_data_processing2(Series):
  return Series.str.replace('  ',",")

def columns_data_processing3(Series):
  return Series.str.replace(',,',",")

def columns_data_processing4(Series):
  return Series.str.replace('없다',"0")

def columns_data_processing5(Series):
  return Series.str.replace('없음',"0")

def columns_data_processing6(Series):
  return Series.str.lower()

def columns_data_processing7(Series):
  return Series.str.replace('등',"")

def columns_data_processing8(Series):
  return Series.str.replace('및'," ")

def columns_data_processing9(Series):
  return Series.str.replace('모름',"0")

In [7]:
know2017 = know2017.astype(str).apply(columns_data_processing1,axis=0)
know2017 = know2017.apply(columns_data_processing2,axis=0)
know2017 = know2017.apply(columns_data_processing3,axis=0)
know2017 = know2017.apply(columns_data_processing4,axis=0)
know2017 = know2017.apply(columns_data_processing5,axis=0)
know2017 = know2017.apply(columns_data_processing6,axis=0)
know2017 = know2017.apply(columns_data_processing7,axis=0)
know2017 = know2017.apply(columns_data_processing8,axis=0)
know2017 = know2017.apply(columns_data_processing9,axis=0)

In [8]:
know2018 = know2018.astype(str).apply(columns_data_processing1,axis=0)
know2018 = know2018.apply(columns_data_processing2,axis=0)
know2018 = know2018.apply(columns_data_processing3,axis=0)
know2018 = know2018.apply(columns_data_processing4,axis=0)
know2018 = know2018.apply(columns_data_processing5,axis=0)
know2018 = know2018.apply(columns_data_processing6,axis=0)
know2018 = know2018.apply(columns_data_processing7,axis=0)
know2018 = know2018.apply(columns_data_processing8,axis=0)
know2018 = know2018.apply(columns_data_processing9,axis=0)

In [9]:
know2019 = know2019.astype(str).apply(columns_data_processing1,axis=0)
know2019 = know2019.apply(columns_data_processing2,axis=0)
know2019 = know2019.apply(columns_data_processing3,axis=0)
know2019 = know2019.apply(columns_data_processing4,axis=0)
know2019 = know2019.apply(columns_data_processing5,axis=0)
know2019 = know2019.apply(columns_data_processing6,axis=0)
know2019 = know2019.apply(columns_data_processing7,axis=0)
know2019 = know2019.apply(columns_data_processing8,axis=0)
know2019 = know2019.apply(columns_data_processing9,axis=0)

In [10]:
know2020 = know2020.astype(str).apply(columns_data_processing1,axis=0)
know2020 = know2020.apply(columns_data_processing2,axis=0)
know2020 = know2020.apply(columns_data_processing3,axis=0)
know2020 = know2020.apply(columns_data_processing4,axis=0)
know2020 = know2020.apply(columns_data_processing5,axis=0)
know2020 = know2020.apply(columns_data_processing6,axis=0)
know2020 = know2020.apply(columns_data_processing7,axis=0)
know2020 = know2020.apply(columns_data_processing8,axis=0)
know2020 = know2020.apply(columns_data_processing9,axis=0)

### 전공 전처리

##### 2017년도

In [11]:
know2017 = know2017.apply(lambda x : x.str.strip('학과'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('과'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('학'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('전공'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('대'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('부'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2018년도

In [12]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq37_1_2018 = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
know2018 =  know2018.drop(wrong_index)

In [13]:
# column 이름을 바꿔서 원위치 시키기
bq37_1_2018.rename(columns={'bq37_1':'bq37-1'},inplace=True)
bq37_1_2018.rename(columns={'bq37':'bq37_1'},inplace=True)
bq37_1_2018.rename(columns={'bq37-1':'bq37'},inplace=True)

In [14]:
# 데이터 합치기
know2018 = pd.concat([know2018,bq37_1_2018])

# 이상값 제거
know2018['bq37_1'].replace('2','이')

0                   0
1       커뮤니케이션,디자인,전공
2                국문학과
3                극작학과
4                  실업
            ...
6755             전자공학
7867               기계
8329             공고졸업
8534              기계과
8651              기계학
Name: bq37_1, Length: 9069, dtype: object

In [15]:
# 데이터 날리기
drop_index = know2018[(know2018['bq37'] == '색채심리상담사')].index
know2018.drop(drop_index)

        idx cq1 cq2 cq3 cq4 cq5  ... bq38_2 bq39    bq40 bq41_1 bq41_2 bq41_3
0      9486   4   1   3   1   1  ...      6    0    35,0      0      0   2000
1      9487   5   4   5   5   5  ...      0    1    65,0   2700   2200      0
2      9488   3   3   3   4   3  ...      6    0    60,0      0      0   3200
3      9489   4   4   4   4   2  ...      6    0    20,0      0      0   2000
4      9490   5   2   3   2   4  ...      0    2    35,0   3000   1500      0
...     ...  ..  ..  ..  ..  ..  ...    ...  ...     ...    ...    ...    ...
6755  16251   3   5   5   5   5  ...      1   40  3000,0   2900      0    nan
7867  17363   5   5   5   5   5  ...      1   50  3500,0   3000      0    nan
8329  17828   1   1   1   1   1  ...      1   48  4500,0   2300      0    nan
8534  18034   3   5   5   5   5  ...      1   48  5100,0   2000      0    nan
8651  18151   1   5   2   2   3  ...      1   40  4000,0   2000      0    nan

[9069 rows x 140 columns]

In [16]:
know2018 = know2018.apply(lambda x : x.str.strip('학과'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('과'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('학'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('전공'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('대'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('부'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2019년도

In [17]:
# num to str
know2019['bq27'] = know2019['bq27'].map(str)

In [18]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq27_1_2019 = know2019[(know2019['bq27'] =='컴퓨터공학')
|(know2019['bq27'] == '지능로봇학')
|(know2019['bq27'] == '모바일인터넷')
|(know2019['bq27'] == '영상영화디자인과')
|(know2019['bq27'] == '방사선과')
|(know2019['bq27'] == '신문방송')
&(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2019[(know2019['bq27'] =='컴퓨터공학')
|(know2019['bq27'] == '지능로봇학')
|(know2019['bq27'] == '모바일인터넷')
|(know2019['bq27'] == '영상영화디자인과')
|(know2019['bq27'] == '방사선과')
|(know2019['bq27'] == '신문방송')
&(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
know2019 = know2019.drop(wrong_index)

In [19]:
# column 이름을 바꿔서 원위치 시키기

bq27_1_2019.rename(columns={'bq27_1':'bq27-1'},inplace=True)
bq27_1_2019.rename(columns={'bq27':'bq27_1'},inplace=True)
bq27_1_2019.rename(columns={'bq27-1':'bq27'},inplace=True)

In [20]:
# 데이터 합치기
know2019 = pd.concat([know2019,bq27_1_2019])

# 이상값 제거
know2019['bq27_1'].replace('2','이')

0          경영
1          화학
2        건축공학
3          인문
4       기계공학과
        ...
8549    화학공업과
8550     조소학과
8551    컴퓨터공학
8552     조소학과
8553     조소학과
Name: bq27_1, Length: 8554, dtype: object

In [21]:
know2019 = know2019.apply(lambda x : x.str.strip('학과'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('과'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('학'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('전공'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('대'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('부'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2020년도

In [22]:
know2020 = know2020.apply(lambda x : x.str.strip('학과'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('과'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('학'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('전공'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('대'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('부'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('계열'), axis = 1)

### 전공 라벨 인코딩

In [23]:
major2017 = know2017['bq38_1']
major2018 = know2018['bq37_1']
major2019 = know2019['bq27_1']
major2020 = know2020['bq26_1']

major = pd.concat([major2017,major2018,major2019,major2020],ignore_index=True)

In [24]:
major = major.values.tolist()

# 중복 제거
major = set(major)
major = list(major)

major = pd.DataFrame(major)

# null 값 제거
major = major[major[0].notnull()]

In [25]:
major = major.values.tolist()

In [26]:
majors = []
for i in range(0,len(major)):
  major_1 = major[i][0].split(',') 
  majors.append(major_1)

# list를 합친다.
majors = sum(majors,[])

In [27]:
majors

['',
 '응용생화',
 '산업전기',
 '심리',
 '교육행정',
 '기록',
 '섬유산업디자인',
 'caisr',
 '디지털',
 '산회계정보',
 '식물지원',
 '기설계자동화',
 '한불',
 '직업재활',
 '아동청소년심리상담',
 '지능형로봇',
 '문대',
 '심리',
 '고',
 '기',
 '안보정책',
 '치과기',
 '광고미디어',
 '융합예술',
 '기계항공공학',
 '음악',
 '정책공공경영',
 '정책',
 '의',
 '사관',
 '세무',
 '회',
 '산업미술',
 '냉동공조기',
 '항공제어',
 '정보통신',
 '생활가구디자인',
 '항해시스템',
 '농업유통정보',
 '이비인후',
 '업경영',
 '빌딩자동화',
 '모델연기',
 '아동미술치료',
 '관광영어통역',
 '관광정보',
 '문화컨텐츠',
 '모터스포츠',
 '인테리어',
 '신소재학',
 '식품생물',
 '생명화학',
 '낙농업',
 '행정학',
 '전산',
 '기계항공',
 '공학',
 '국어',
 '경영학',
 '무역',
 '색채디자인',
 '학교',
 '디자인',
 '골프',
 '외국어교육',
 '업환경',
 '피아노',
 '디자인경영',
 '만화',
 '분장예술',
 '의상학과',
 '경영',
 '경영정보시스템',
 '기계제어',
 '사진',
 '영상예술',
 '의류',
 '국제무역통상',
 '미용',
 '임산기',
 '섬유고분자',
 '연예매니지먼트',
 '2',
 '고기',
 '실업계',
 '전자',
 '불교',
 '방송음향',
 '국문',
 '배관',
 '보건',
 '업고교',
 '기',
 '리더십',
 '문화예술',
 '경영',
 '재무회',
 '첨단소재',
 '일어일문',
 '통신전자',
 '스포츠',
 '건강관리',
 '정비관리보안',
 '경제학',
 '통',
 '상담심리',
 '항공교통물류',
 '영화감독',
 '언어재활',
 '염색',
 '군사행정',
 '마케팅관리',
 '섬유미술',
 '융합화학',
 '행정학',
 '사회복지',
 '영어',
 '정치행정',
 '업계',
 '금속철형',
 '한방식품약리',
 '스포츠건강재활',
 '국민윤리교육',
 '매직',
 '마술',
 '정치',
 '경제',
 '연창작',
 '업고학교',
 '지리',
 '무대예술',
 '여가디자인',
 '기계제도',
 '동물조련',
 '이벤트',
 '청소년교육상담',
 '지질환경',
 '병원경영',
 '기술경영',
 '청각재활',
 '데이터정보',
 '한목건축',
 '조선해양',
 '경제정보',
 '스포츠',
 '커뮤니케이션',
 '자동차서비스',
 '의료전산',
 '미디어',
 '매니지먼트',
 '목공예',
 '색채',
 '인터넷비즈니스',
 '자',
 '',
 '불교조형디자인',
 '재난관리',
 '현대미술',
 '애니메이션영상',
 '제어',
 '건설환경디자인',
 '역사문화',
 '화장품산업',
 '일반사회교육',
 '서양사',
 '영상',
 '디자인',
 '냉동공조',
 '실업계',
 '고학교',
 '회',
 '응용식물',
 '조선',
 '',
 '니트패션디자인',
 '컴퓨터',
 '보안',
 '무용',
 '식물육종',
 '기',
 '명운',
 '건설시스템공학',
 '토목',
 '',
 '지적',
 '관광비지니스',
 '호텔외식서비스',
 '천문기상',
 '토목',
 '기계산업',
 '문화재수리복원',
 '국제비지니스',
 '산업시스템',
 '통조리',
 '재약',
 '정밀기',
 '의학외',
 '실용댄스',
 '운송',
 '인터넷',
 '경영',
 '방송연기',
 '관광',
 '문화재보존',
 '무역유통',
 '특성학교',
 '산응용기',
 '인문계고',
 '로봇',
 '예',
 '디스플레이',
 '바리스타',
 '의료보장구',
 '조냉동',
 '동북아문화산업',
 '경찰정보',
 '선박전자기',
 '잠수',
 '농업고',
 '국방군사',
 '인터렉티브',
 '스토리텔링',
 '해외baeheloofmusicandmedia',
 '컴퓨터전기',
 '웹정보디자인',
 '고졸',
 '무도',
 '게임프로밍',
 '광고마케팅',
 '연극영화',
 '시컨벤션이벤트',
 '호텔서비스',
 '지역',
 '개발',
 '기',
 ' ',
 '제어',
 '농업경영',
 '도서관정보',
 '웨딩플래너',
 '항공서비스',
 '운항',
 '토목기',
 '경호행정',
 '정보보안',
 '보호',
 '환경경영',
 '마이스터고',
 '통번역',
 '영상미술',
 '금융mba',
 '건축',
 '초음악교육',
 '컴퓨터전자',
 '수산양식',
 '의류패션',
 '안경',
 '무용교육',
 '고졸업',
 '용접',
 '유아특수교육',
 '국제경제',
 '산업배관',
 '지적정보',
 '설전수',
 '냉동관리',
 '기술',
 '호텔',
 '조리',
 '환경화학',
 '정보보호',
 '디지털관광',
 '자동차',
 '설비',
 '기',
 '치가',
 '자동차학',
 '자동차고학교',
 '',
 '현대무용발레',
 '의상디자인',
 '토양복원',
 '응용생물화',
 '섬유공학',
 '화학',
 '',
 '보건행정',
 '회',
 '항공해운물류',
 '동물',
 '배관설비',
 '뷰티',
 '교상담',
 '건설',
 '생활환경복지',
 '금속',
 '무역',
 '재무금융',
 '가정복지',
 '농',
 '관광홍보',
 '보석디자인',
 '판매관리',
 '상품관리',
 '산업스포츠',
 '재무관리',
 '육사',
 '의예',
 '피부',
 '',
 '학교',
 '전기',
 '재활의',
 '유기나노시스템',
 '스포츠레저',
 '호텔경영',
 '철학윤리',
 '신소재',
 '',
 '마취통증',
 '언어치료청각재활',
 '외식산업',
 '실용체육',
 '산부인',
 '정보처리',
 '도시사회',
 '다문문',
 '산업',
 '영문영어',
 '정보기록관리',
 '미디어비즈니스',
 '카지노',
 '관광',
 '광고홍보언론',
 '인류',
 '방송엔터테인먼트',
 '코디',
 '기계정보',
 '일본사',
 '중장비',
 '미디어음악',
 '안',
 '환경공학',
 '식품생명',
 '컴퓨터',
 '실용',
 '영화연출',
 '가족상담',
 '문예',
 '영상편집',
 '실업',
 '항',
 '자제조',
 '컴퓨터응용기계설',
 '시각디자인',
 '이벤트',
 '영상예술',
 '나노',
 '국제지역',
 '기전자제어',
 '생물학',
 '동물학',
 '',
 '장례지도',
 '정토통신',
 '기컴퓨터',
 '',
 '국제무역',
 '핵의',
 '영문',
 '연예매지니먼트',
 '식품생명환경',
 '맹인',
 '영상컨텐츠',
 '이비인후의',
 '산',
 '실업계',
 '공고',
 '',
 '신소재디자인',
 '농업생물',
 '설',
 '기',
 '공고',
 '',
 '농산업교육',
 '환경',
 '신경생물',
 '응용통게',
 '의대',
 '소아',
 '한국화',
 '종교비교',
 '복지서비스',
 '인도철',
 '업디자인',
 '노인복지',
 '안전환경융합',
 '물류',
 '경제외교',
 '생물환경',
 '수산경영',
 '외식상품',
 '특성화고',
 '농업',
 '자동차제어 진단기술',
 '바이오시스템',
 '사무자동화',
 '환경조경',
 '환경위생',
 '생명',
 '철도건설환경',
 '일반고학교졸업',
 '재련',
 '언어치료교육',
 '메카트로닉스',
 '',
 '간정보시스템',
 '농업정보',
 '동아시아',
 '국제협력',
 '영화',
 '광고',
 '나노재료',
 '생물리',
 '차량',
 '식품영양',
 '이동통신설비',
 '언아',
 '역사',
 '복지',
 '낙농',
 '군사',
 '미스터피자',
 '언어청각치료',
 '기에너지시스템',
 '산업설비자동',
 '기록관리',
 '마케팅경영',
 '상업교육',
 '자상거래',
 '건설시스템',
 '종합고학교',
 '법률',
 '의약바이오',
 '철도경영정보',
 '의료기기',
 '고',
 '건축',
 '실업',
 '식품영양',
 '동물지원',
 '기계',
 '실업계',
 '',
 'it',
 '역사교육',
 '심신치유',
 '구조',
 '창업',
 '기계',
 '설계',
 '',
 '기업교육',
 '식품법률',
 '보석감별',
 '일본어교육',
 '한약',
 '정보미디어',
 '선박',
 '재료금속',
 '학교',
 '메이크업',
 '민속',
 '유기화',
 '언어치료청각',
 '의약생명',
 '유기소재섬유시스템',
 '기계시스템디자인',
 '언론',
 '기계전기',
 '광고영상',
 '도시정보',
 '국제',
 '정치',
 '파워엔지니어링',
 '정보',
 '마취병리',
 '불어교육',
 '합성생물',
 '광고',
 '홍보',
 '항공운행',
 '생명과학정보',
 '마케팅',
 '정보디자인',
 '아동',
 '청소년',
 '복지',
 '경영',
 '멀티미디어',
 '컨텐츠',
 '국제관',
 '인문계고졸',
 '산림',
 '나노측정',
 '금형관리',
 '국제비서',
 '광고기획',
 '실업계',
 '기계',
 '',
 '해양컴퓨터',
 '아동',
 '심리',
 '자설',
 '유아교육',
 '국제',
 '비서',
 '사무',
 '에너지자원',
 '교통',
 '동물조련이벤트',
 '경찰학',
 '법',
 '자전기컴퓨터',
 '카툰애니메이션',
 '정보시스템',
 '조기',
 '식품영양',
 '조리',
 '섬유화',
 '경영',
 '재료',
 '법정',
 '통계학',
 '유아교육',
 '금속기',
 '도서문헌',
 '기상정보',
 '정보경영',
 '사이버비지니스',
 '해양경찰',
 '자ito미디어',
 '게임창작',
 '실용예술',
 '업전기',
 '생태조경',
 '화학생명',
 '애완동물',
 '환경보건',
 '스마트생산융합시스템',
 '상업고',
 '발달심리학',
 '임상심리학',
 '상담심리',
 '항공특성화대학원항',
 '동양철',
 '사회심리',
 '국제법',
 '디지털전자',
 '기환경',
 '회계정보',
 '독일',
 '분자',
 '금융정보',
 '스포츠경영',
 '예체능교육',
 '방송정보통신',
 '식품영양학',
 '경영',
 '지적재산권법무',
 '사',
 '인문계',
 '졸업',
 '게임컨텐츠',
 '문대',
 '기',
 '조리관광경영',
 '청소년',
 '교육',
 'c',
 'f',
 '사이버정보',
 '철도차량시스템',
 '한방시스템',
 '고고미술사',
 '지역개발',
 '세무정보',
 '모바일정보기술',
 '생명시스템',
 '목재공업',
 '서양미술',
 '디지털',
 '애니메이션',
 '',
 '정신전문',
 '간호',
 '아동교육',
 '컴활',
 '자산업',
 '식품관리',
 '화학',
 '연기획',
 '산업자동화',
 '약학대학',
 '제약',
 '영화',
 '보육',
 '해양생산',
 '관리',
 '항해학',
 '유아교',
 '헤어미용',
 '영상디자인',
 '사체',
 '식품위생',
 '오폐라연출',
 '양식',
 '원자력산업',
 '특성화고',
 '측지',
 '외식조리',
 '유전자',
 '일반고학교',
 '문과',
 '',
 '자원에너지',
 '철도전기신호',
 '레져',
 '동물생명',
 '관광일본어',
 '로봇제어',
 '스포츠교육',
 '',
 '금속',
 '공예',
 '치주',
 '프랑스교육',
 '응용소프트',
 '해양환경',
 '정보고',
 '게임콘텐츠',
 '인문계',
 '이과',
 '',
 '사범대',
 '회화',
 '지역사회개발',
 '통역',
 '항공산업',
 '상업서비스',
 '생활관리',
 '맹학교',
 '사무정보',
 '미국학',
 '국제학',
 '통건축',
 '약제',
 '영화예술',
 '상고졸업',
 '관관경영',
 '애견미용',
 '시스템공학',
 '실내건축인테리어',
 '국제경영 통상',
 '신소재에너지',
 '실업계고학교',
 '기관시스템',
 '의류의상',
 '기계',
 '공고',
 '실업계',
 '상업',
 '',
 '디자인기술융합',
 '기전자',
 '컴퓨터',
 '공학',
 '경호보안',
 '컴퓨터전산',
 '물리화',
 '고',
 '전자',
 '제철금속',
 '기계정비',
 '금속세',
 '생화',
 '장례복지',
 '신소재응용',
 'ma',
 'fashion',
 '컨벤션이벤트경영',
 '군사전략',
 '피부예술',
 '회계원리',
 '경영학',
 '석사',
 '유기소재시스템',
 '파티이벤트',
 '통예술',
 '기악',
 '뷰티매지니먼트',
 '기계공학',
 '컴퓨터학',
 '전자계산',
 '',
 '비서사무',
 '신발패션산업',
 '가정관리',
 '업기',
 '생명화학공업',
 '식품분석',
 '건축관련',
 'led조명',
 '루마니아어',
 '철도전기제어',
 '실업계',
 '상',
 '바이오에너지',
 'ㆍ',
 '에너지기',
 '독일어',
 '환경시스템',
 '소재화',
 '산업경영공학',
 '컴퓨터',
 '연예매니지먼트공연이벤트',
 '호텔컨벤션경영',
 '가족상담치료',
 '뷰티코디네이션',
 '해상물류',
 '간연출',
 '식풍영양',
 '화학교육',
 '해사고',
 '기관',
 '상담심리치료',
 '에너지시스템',
 '해운경영',
 '수산식품가',
 '건축토목',
 '관광이벤트',
 '수의',
 '한방건강학과',
 '국어국문',
 '문화영상',
 '의료관리',
 '매체',
 '정보관리',
 '문대',
 '뷰티',
 '동산',
 '프랑스어문화',
 '한국음악',
 '상업',
 '교육',
 '의과대학',
 '소아과',
 '',
 '조선',
 '항해기관교육',
 '금형디자인',
 '생물교육',
 '비지니스',
 '일본어',
 '에너지기계설비',
 '뮤직비지니스',
 '산응용가',
 '인문',
 '교육심리상담',
 '화학',
 '경영',
 '불어통역',
 '특성화고',
 '가사실업',
 '',
 '금속신소재',
 '보건경영',
 '농화',
 '광고홍',
 '정보통',
 '놀이치료',
 '정보전자',
 '예술대학원',
 '응용경제 경영',
 '사진영상미디어',
 '체육특성화고',
 'space',
 'furniture',
 '증식',
 '인문계고학교',
 '국제운송이',
 '한문교육',
 '레크레이션',
 '이공',
 '잠사',
 '물리치료사',
 '수산자원',
 '동물사육',
 '무역유통마케팅',
 '고',
 '항공운영',
 '경호',
 '광고pr',
 '유기신소재',
 '항공우주',
 '시스템',
 '애니메이션',
 '원예확',
 '말레이인도네시아어',
 '자원육성',
 '무기재료',
 '지구',
 '물류유통',
 '건축디자인',
 '컴퓨터응용설',
 '쥬얼리디자인',
 '환경해양',
 '도서관',
 '교육',
 '러시아어',
 '뉴미디어',
 '음악',
 '영상애니메이션',
 '업',
 '디자인',
 '협동조합경영',
 '상담',
 ' ',
 '임상',
 '심리',
 '경영정보처리',
 '장례',
 '지구환경',
 '금속산업디자인',
 '아동',
 '일문',
 '치의',
 '임상심리',
 '산업설',
 '장식조형',
 '목공예',
 '수산고운항',
 '모바일정보',
 '기계공고',
 '철제금속',
 '광산',
 '화훼원예',
 '인무고',
 '고',
 '기계과',
 '',
 '컴퓨터응용금속',
 '영화제작',
 '뷰티디라인',
 '한의예',
 '비서경영',
 '발달심리',
 '통연희',
 '실업계',
 '기계과',
 '',
 '예방의',
 '해양생산',
 '업고',
 '기',
 '청소년',
 '내분비내',
 '세라믹',
 '금유',
 '조형',
 '영어영문',
 '연기예술',
 '미술치료',
 '항공호텔외식관광',
 '기전자',
 '정신',
 '생리학 의',
 '콘텐츠크리에이터',
 '생명의',
 '예능',
 '패션디자인산업',
 '제약',
 '물류유목정보',
 '배관용접',
 '치기',
 '무용창작',
 '치위생사',
 '의대',
 '방사선',
 '경제금융',
 '기제어',
 '보건의료',
 '신발패션',
 '문대학교',
 '영상',
 '애니메이션',
 '인문계이',
 '화학공학자',
 '영어교육',
 '문화교양',
 '제어시스템',
 '성형외',
 '건설기',
 '컨벤션',
 '컴퓨터미디어',
 '미생물',
 '조선해양시스템',
 '게임미디어',
 '병원코디네이터',
 '환경조각',
 '광운전자',
 '컴퓨터',
 '관련',
 '재료화학',
 '수학통',
 '해양수산',
 '화학',
 '',
 '건축',
 '설비',
 '동아시아',
 '마케팅정보컨설팅',
 '모델',
 '그래픽아츠미디어',
 '뉴미디어음악',
 '유기신물질',
 '레저',
 '레크레이이션',
 '',
 '신에너지',
 '컴퓨터기',
 '메카트로닉스공학',
 '호텔외식관광경영',
 '환경보호',
 '실업계미용',
 '로봇시스템',
 '작업지료',
 '기계공작',
 '인문고',
 '문',
 '디지털영상',
 '임문',
 '선박해양',
 '메이크업',
 '관광중국어',
 '약',
 '방송통신정책',
 '건출설비',
 '메키트로닉스',
 '화장품약리',
 '디지털',
 '정보',
 '정신의',
 '국악',
 '디지털기',
 '경영',
 '연출',
 '사회',
 '교육',
 '가',
 '신소제',
 '간디자인',
 '스포츠',
 '교육',
 '상업경영',
 '문학교양',
 '정보컴퓨터',
 '신생에너지',
 '방송댄스',
 '경호안',
 '분석과학기술',
 '보건위생',
 '재료',
 ' ',
 '화학',
 '자동차시스템',
 '인문계',
 '문',
 '',
 '해사수송',
 '법학박사',
 '예술경영',
 '만화콘텐츠',
 '항공관광',
 '실용상업',
 '정치 지역발',
 '영상멀티미디어',
 '산업공예',
 '성형전문의',
 '항공전자',
 '산문방송',
 '영상연극',
 '아동노인복지',
 '무용예술',
 '자동화기',
 '게임디자인',
 '특수재활',
 '중문',
 ...]

In [28]:
# dict에 전공 값 넣기
my_dict = {}
for i in range(len(majors)):
  my_dict[majors[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq38_1'] = know2017['bq38_1'].map(text_to_list)
know2018['bq37_1'] = know2018['bq37_1'].map(text_to_list)
know2019['bq27_1'] = know2019['bq27_1'].map(text_to_list)
know2020['bq26_1'] = know2020['bq26_1'].map(text_to_list)

In [29]:
def major_to_label(majors:list):
  result = []
  for major in majors:
    if major in my_dict:
      result.append(my_dict[major])
    else :
      result.append(0)
  return result

know2017['label_major'] = know2017['bq38_1'].map(major_to_label)
know2018['label_major'] = know2018['bq37_1'].map(major_to_label)
know2019['label_major'] = know2019['bq27_1'].map(major_to_label)
know2020['label_major'] = know2020['bq26_1'].map(major_to_label)

### 도구 라벨 인코딩

In [30]:
tool2017 = know2017['bq31']
tool2018 = know2018['bq30']

tool = pd.concat([tool2017,tool2018],ignore_index=True)

In [31]:
tool = pd.DataFrame(tool)
tool = tool.values.tolist()

In [32]:
# 도구들을 쉼표 단위로 나눠서 tool list에 담는다.
tools = []
for i in range(0,len(tool)):
  tool_1 = tool[i][0].split(',')
  tools.append(tool_1)

# list를 합친다.
tools = sum(tools,[])

In [33]:
# dict에 도구 값 넣기
my_dict = {}
for i in range(len(tools)):
  my_dict[tools[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq31'] = know2017['bq31'].map(text_to_list)
know2018['bq30'] = know2018['bq30'].map(text_to_list)

In [34]:
def tool_to_label(tools:list):
  result = []
  for tool in tools:
    if tool in my_dict:
      result.append(my_dict[tool])
    else :
      result.append(0)
  return result

know2017['label_tool'] = know2017['bq31'].map(tool_to_label)
know2018['label_tool'] = know2018['bq30'].map(tool_to_label)

### 요구 자격증 전처리

In [35]:
know2017['bq4_1a'] = know2017['bq4_1a'].replace(',','')
know2017['bq4_1b'] = know2017['bq4_1b'].replace(',','')
know2017['bq4_1c'] = know2017['bq4_1c'].replace(',','')

know2018['bq4_1a'] = know2018['bq4_1a'].replace(',','')
know2018['bq4_1b'] = know2018['bq4_1b'].replace(',','')
know2018['bq4_1c'] = know2018['bq4_1c'].replace(',','')

know2019['bq4_1a'] = know2019['bq4_1a'].replace(',','')
know2019['bq4_1b'] = know2019['bq4_1b'].replace(',','')
know2019['bq4_1c'] = know2019['bq4_1c'].replace(',','')

know2020['bq4_1a'] = know2020['bq4_1a'].replace(',','')
know2020['bq4_1b'] = know2020['bq4_1b'].replace(',','')
know2020['bq4_1c'] = know2020['bq4_1c'].replace(',','')

### 요구 자격증 라벨링

In [36]:
Certificate = pd.concat([know2017['bq4_1a'],know2017['bq4_1b'],know2017['bq4_1c'],
                         know2018['bq4_1a'],know2018['bq4_1b'],know2018['bq4_1c'],
                         know2019['bq4_1a'],know2019['bq4_1b'],know2019['bq4_1c'],
                         know2020['bq4_1a'],know2020['bq4_1b'],know2020['bq4_1c']])

In [37]:
# 중복 제거
Certificate = set(Certificate)
Certificate = list(Certificate)

Certificate = pd.DataFrame(Certificate)
Certificate = Certificate.values.tolist()

In [38]:
Certificates = []
for i in range(0,len(Certificate)):
  Certificate_1 = Certificate[i][0].split(',') 
  Certificates.append(Certificate_1)

# list를 합친다.
Certificates = sum(Certificates,[])

In [39]:
# dict에 자격증 값 넣기
my_dict = {}
for i in range(len(Certificates)):
  my_dict[Certificates[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq4_1a'] = know2017['bq4_1a'].map(text_to_list)
know2017['bq4_1b'] = know2017['bq4_1b'].map(text_to_list)
know2017['bq4_1c'] = know2017['bq4_1c'].map(text_to_list)

know2018['bq4_1a'] = know2018['bq4_1a'].map(text_to_list)
know2018['bq4_1b'] = know2018['bq4_1b'].map(text_to_list)
know2018['bq4_1c'] = know2018['bq4_1c'].map(text_to_list)

know2019['bq4_1a'] = know2019['bq4_1a'].map(text_to_list)
know2019['bq4_1b'] = know2019['bq4_1b'].map(text_to_list)
know2019['bq4_1c'] = know2019['bq4_1c'].map(text_to_list)

know2020['bq4_1a'] = know2020['bq4_1a'].map(text_to_list)
know2020['bq4_1b'] = know2020['bq4_1b'].map(text_to_list)
know2020['bq4_1c'] = know2020['bq4_1c'].map(text_to_list)

In [40]:
def Certificate_to_label(Certificates:list):
  result = []
  for Certificate in Certificates:
    if Certificate in my_dict:
      result.append(my_dict[Certificate])
    else :
      result.append(0)
  return result

know2017['label_Certificate1'] = know2017['bq4_1a'].map(Certificate_to_label)
know2017['label_Certificate2'] = know2017['bq4_1b'].map(Certificate_to_label)
know2017['label_Certificate3'] = know2017['bq4_1c'].map(Certificate_to_label)

know2018['label_Certificate1'] = know2018['bq4_1a'].map(Certificate_to_label)
know2018['label_Certificate2'] = know2018['bq4_1b'].map(Certificate_to_label)
know2018['label_Certificate3'] = know2018['bq4_1c'].map(Certificate_to_label)

know2019['label_Certificate1'] = know2019['bq4_1a'].map(Certificate_to_label)
know2019['label_Certificate2'] = know2019['bq4_1b'].map(Certificate_to_label)
know2019['label_Certificate3'] = know2019['bq4_1c'].map(Certificate_to_label)

know2020['label_Certificate1'] = know2020['bq4_1a'].map(Certificate_to_label)
know2020['label_Certificate2'] = know2020['bq4_1b'].map(Certificate_to_label)
know2020['label_Certificate3'] = know2020['bq4_1c'].map(Certificate_to_label)

In [41]:
know2020

        idx saq1_1  ... label_Certificate2 label_Certificate3
0     27127      3  ...             [1897]             [1897]
1     27128      4  ...             [1897]             [1897]
2     27129      4  ...             [1897]             [1897]
3     27130      3  ...             [1897]             [1897]
4     27131      4  ...             [1897]             [1897]
...     ...    ...  ...                ...                ...
8117  35244      2  ...             [1897]             [1897]
8118  35245      5  ...             [1897]             [1897]
8119  35246      3  ...             [8876]             [1897]
8120  35247      3  ...             [6541]             [4935]
8121  35248      3  ...             [1897]             [1897]

[8122 rows x 188 columns]

### 직업 라벨링

In [42]:
job = pd.concat([know2017['bq30'],know2017['bq32'],know2017['bq33'],know2017['bq34'],
                         know2018['bq29'],know2018['bq31'],know2018['bq32'],know2018['bq33'],
                         know2019['bq22'],know2019['bq23'],know2019['bq24']])

In [43]:
# 중복 제거
job = set(job)
job  = list(job)

job  = pd.DataFrame(job)
job  = job.values.tolist()

In [44]:
jobs = []
for i in range(0,len(job)):
  job_1 = job[i][0].split(',') 
  jobs.append(job_1)

# list를 합친다.
jobs = sum(jobs,[])

In [45]:
# dict에 직업 값 넣기
my_dict = {}
for i in range(len(jobs)):
  my_dict[jobs[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq30'] = know2017['bq30'].map(text_to_list)
know2017['bq32'] = know2017['bq32'].map(text_to_list)
know2017['bq33'] = know2017['bq33'].map(text_to_list)
know2017['bq34'] = know2017['bq34'].map(text_to_list)

know2018['bq29'] = know2018['bq29'].map(text_to_list)
know2018['bq31'] = know2018['bq31'].map(text_to_list)
know2018['bq32'] = know2018['bq32'].map(text_to_list)
know2018['bq33'] = know2018['bq33'].map(text_to_list)

know2019['bq22'] = know2019['bq22'].map(text_to_list)
know2019['bq23'] = know2019['bq23'].map(text_to_list)
know2019['bq24'] = know2019['bq24'].map(text_to_list)

In [46]:
def job_to_label(jobs:list):
  result = []
  for job in jobs:
    if job in my_dict:
      result.append(my_dict[job])
    else :
      result.append(0)
  return result

know2017['label_job1'] = know2017['bq30'].map(job_to_label)
know2017['label_job2'] = know2017['bq32'].map(job_to_label)
know2017['label_job3'] = know2017['bq33'].map(job_to_label)
know2017['label_job4'] = know2017['bq34'].map(job_to_label)

know2018['label_job1'] = know2018['bq29'].map(job_to_label)
know2018['label_job2'] = know2018['bq31'].map(job_to_label)
know2018['label_job3'] = know2018['bq32'].map(job_to_label)
know2018['label_job4'] = know2018['bq33'].map(job_to_label)

know2019['label_job1'] = know2019['bq22'].map(job_to_label)
know2019['label_job2'] = know2019['bq23'].map(job_to_label)
know2019['label_job3'] = know2019['bq24'].map(job_to_label)

In [47]:
know2017

       idx aq1_1  ...            label_job3                           label_job4
0        0     3  ...               [28185]                              [28185]
1        1     5  ...               [28185]                              [28185]
2        2     5  ...  [5895, 24366, 26349]  [26827, 25411, 18943, 28100, 19856]
3        3     4  ...               [28185]                              [28185]
4        4     5  ...               [27558]                              [28185]
...    ...   ...  ...                   ...                                  ...
9481  9481     3  ...               [28185]                              [28185]
9482  9482     4  ...               [28185]                              [28185]
9483  9483     3  ...               [28185]                              [28185]
9484  9484     4  ...               [28185]                              [28185]
9485  9485     3  ...               [28185]                              [28185]

[9486 rows x 164 columns]

In [57]:
know2017.to_csv("know2017_test.csv")

SyntaxError: ignored

In [58]:
know2018.to_csv("know2018_test.csv")

In [54]:
know2019.to_csv("know2019_test.csv")

In [56]:
know2020.to_csv("know2020_test.csv")