<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/20220112_hj_know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore') 
know_train = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/KNOW/train/*.csv'))]
know_test = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/KNOW/test/*.csv'))]

## Train Data 불러오기


---

리스트 인덱스별로  
train[0] : 2017 data  
train[1] : 2018 data  
train[2] : 2019 data  
train[3] : 2020 data

In [3]:
train2017 = know_train[0]
train2018 = know_train[1]
train2019 = know_train[2]
train2020 = know_train[3]

In [4]:
test2017 = know_test[0]
test2018 = know_test[1]
test2019 = know_test[2]
test2020 = know_test[3]

## 데이터 전처리

In [5]:
#빈칸 제거
train2017 = train2017.replace(r'^\s*$','0',regex=True)
train2018 = train2018.replace(r'^\s*$','0',regex=True)
train2019 = train2019.replace(r'^\s*$','0',regex=True)
train2020 = train2020.replace(r'^\s*$','0',regex=True)

#빈칸 제거
test2017 = test2017.replace(r'^\s*$','0',regex=True)
test2018 = test2018.replace(r'^\s*$','0',regex=True)
test2019 = test2019.replace(r'^\s*$','0',regex=True)
test2020 = test2020.replace(r'^\s*$','0',regex=True)

In [6]:
# 데이터 전처리

def columns_data_processing1(Series):
  return Series.str.replace(r'[^\w]',"  ")

def columns_data_processing2(Series):
  return Series.str.replace('  ',",")

def columns_data_processing3(Series):
  return Series.str.replace(',,',",")

def columns_data_processing4(Series):
  return Series.str.replace('없다',"0")

def columns_data_processing5(Series):
  return Series.str.replace('없음',"0")

def columns_data_processing6(Series):
  return Series.str.lower()

def columns_data_processing7(Series):
  return Series.str.replace('등',"")

def columns_data_processing8(Series):
  return Series.str.replace('및'," ")

def columns_data_processing9(Series):
  return Series.str.replace('모름',"0")

In [7]:
train2017 = train2017.astype(str).apply(columns_data_processing1,axis=0)
train2017 = train2017.apply(columns_data_processing2,axis=0)
train2017 = train2017.apply(columns_data_processing3,axis=0)
train2017 = train2017.apply(columns_data_processing4,axis=0)
train2017 = train2017.apply(columns_data_processing5,axis=0)
train2017 = train2017.apply(columns_data_processing6,axis=0)
train2017 = train2017.apply(columns_data_processing7,axis=0)
train2017 = train2017.apply(columns_data_processing8,axis=0)
train2017 = train2017.apply(columns_data_processing9,axis=0)

In [8]:
train2018 = train2018.astype(str).apply(columns_data_processing1,axis=0)
train2018 = train2018.apply(columns_data_processing2,axis=0)
train2018 = train2018.apply(columns_data_processing3,axis=0)
train2018 = train2018.apply(columns_data_processing4,axis=0)
train2018 = train2018.apply(columns_data_processing5,axis=0)
train2018 = train2018.apply(columns_data_processing6,axis=0)
train2018 = train2018.apply(columns_data_processing7,axis=0)
train2018 = train2018.apply(columns_data_processing8,axis=0)
train2018 = train2018.apply(columns_data_processing9,axis=0)

In [9]:
train2019 = train2019.astype(str).apply(columns_data_processing1,axis=0)
train2019 = train2019.apply(columns_data_processing2,axis=0)
train2019 = train2019.apply(columns_data_processing3,axis=0)
train2019 = train2019.apply(columns_data_processing4,axis=0)
train2019 = train2019.apply(columns_data_processing5,axis=0)
train2019 = train2019.apply(columns_data_processing6,axis=0)
train2019 = train2019.apply(columns_data_processing7,axis=0)
train2019 = train2019.apply(columns_data_processing8,axis=0)
train2019 = train2019.apply(columns_data_processing9,axis=0)

In [10]:
train2020 = train2020.astype(str).apply(columns_data_processing1,axis=0)
train2020 = train2020.apply(columns_data_processing2,axis=0)
train2020 = train2020.apply(columns_data_processing3,axis=0)
train2020 = train2020.apply(columns_data_processing4,axis=0)
train2020 = train2020.apply(columns_data_processing5,axis=0)
train2020 = train2020.apply(columns_data_processing6,axis=0)
train2020 = train2020.apply(columns_data_processing7,axis=0)
train2020 = train2020.apply(columns_data_processing8,axis=0)
train2020 = train2020.apply(columns_data_processing9,axis=0)

## 전공 전처리

##### 2017년도

In [11]:
train2017 = train2017.apply(lambda x : x.str.strip('학과'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('과'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('학'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('전공'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('대'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('부'), axis = 1)
train2017 = train2017.apply(lambda x : x.str.strip('계열'), axis = 1)

In [12]:
test2017 = test2017.apply(lambda x : x.str.strip('학과'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('과'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('학'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('전공'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('대'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('부'), axis = 1)
test2017 = test2017.apply(lambda x : x.str.strip('계열'), axis = 1)

2018년도

In [13]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq37_1_2018 = train2018[(train2018['bq37'] !='1')
&(train2018['bq37'] !='2')
&(train2018['bq37'] !='3')
&(train2018['bq37'] !='4')
&(train2018['bq37'] !='5')
&(train2018['bq37'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = train2018[(train2018['bq37'] !='1')
&(train2018['bq37'] !='2')
&(train2018['bq37'] !='3')
&(train2018['bq37'] !='4')
&(train2018['bq37'] !='5')
&(train2018['bq37'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
train2018 = train2018.drop(wrong_index)

In [14]:
# column 이름을 바꿔서 원위치 시키기
bq37_1_2018.rename(columns={'bq37_1':'bq37-1'},inplace=True)
bq37_1_2018.rename(columns={'bq37':'bq37_1'},inplace=True)
bq37_1_2018.rename(columns={'bq37-1':'bq37'},inplace=True)

In [15]:
# 데이터 합치기
train2018 = pd.concat([train2018,bq37_1_2018])

# 이상값 제거
train2018['bq37_1'].replace('2','이')

0        치기공과
1          이과
2         기계과
3       물리,과학
4        치기공학
        ...
8760      기계학
8783     전기공학
8987       금속
8992     기계공학
9016     전기공학
Name: bq37_1, Length: 9072, dtype: object

In [16]:
# 데이터 날리기
drop_index = train2018[(train2018['bq37'] == '색채심리상담사')].index
train2018.drop(drop_index)

        idx cq1 cq2 cq3 cq4 cq5  ... bq39    bq40 bq41_1 bq41_2 bq41_3 knowcode
0      9486   5   3   4   2   2  ...    1      42   3800   3400      0   306301
1      9487   4   3   4   4   4  ...    1      40   2300   1800      0   133204
2      9488   4   1   5   3   3  ...    0    30,0      0      0   3000   702502
3      9489   4   3   4   4   4  ...    1      40   3350   2750      0   121201
4      9490   3   2   3   1   1  ...    1      40   2500   2300      0   306301
...     ...  ..  ..  ..  ..  ..  ...  ...     ...    ...    ...    ...      ...
8760  18257   5   5   5   3   5  ...   50  3500,0   3000      0    nan   821101
8783  18280   1   5   5   5   5  ...   50  6000,0   2500      0    nan   831101
8987  18484   1   2   1   2   2  ...   50  5600,0   2500      0    nan   821101
8992  18489   2   5   5   5   5  ...   40  6000,0   3000      0    nan   831101
9016  18513   4   5   4   4   4  ...   40  3200,0   3000      0    nan   831101

[9071 rows x 141 columns]

In [17]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq37_1_2018 = test2018[(test2018['bq37'] !='1')
&(test2018['bq37'] !='2')
&(test2018['bq37'] !='3')
&(test2018['bq37'] !='4')
&(test2018['bq37'] !='5')
&(test2018['bq37'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = test2018[(test2018['bq37'] !='1')
&(test2018['bq37'] !='2')
&(test2018['bq37'] !='3')
&(test2018['bq37'] !='4')
&(test2018['bq37'] !='5')
&(test2018['bq37'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
test2018 = test2018.drop(wrong_index)

In [18]:
# column 이름을 바꿔서 원위치 시키기
bq37_1_2018.rename(columns={'bq37_1':'bq37-1'},inplace=True)
bq37_1_2018.rename(columns={'bq37':'bq37_1'},inplace=True)
bq37_1_2018.rename(columns={'bq37-1':'bq37'},inplace=True)

In [19]:
# 데이터 합치기
test2018 = pd.concat([test2018,bq37_1_2018])

In [20]:
# 이상값 제거
test2018['bq37_1'].replace('2','이')

0                   0
1       커뮤니케이션 디자인 전공
2                국문학과
3                극작학과
4                  실업
            ...
6755             전자공학
7867               기계
8329             공고졸업
8534              기계과
8651              기계학
Name: bq37_1, Length: 9069, dtype: object

In [21]:
train2018 = train2018.apply(lambda x : x.str.strip('학과'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('과'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('학'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('전공'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('대'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('부'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('계열'), axis = 1)

train2018 = train2018.apply(lambda x : x.str.strip('학과'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('과'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('학'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('전공'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('대'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('부'), axis = 1)
train2018 = train2018.apply(lambda x : x.str.strip('계열'), axis = 1)

## 2019 라벨 인코딩

In [22]:
# num to str
train2019['bq27'] = train2019['bq27'].map(str)

In [23]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq27_1_2019 = train2019[(train2019['bq27'] =='컴퓨터공학')
|(train2019['bq27'] == '지능로봇학')
|(train2019['bq27'] == '모바일인터넷')
|(train2019['bq27'] == '영상영화디자인과')
|(train2019['bq27'] == '방사선과')
|(train2019['bq27'] == '신문방송')
&(train2019['bq27'] !='1')
&(train2019['bq27'] !='2')
&(train2019['bq27'] !='3')
&(train2019['bq27'] !='4')
&(train2019['bq27'] !='5')
&(train2019['bq27'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = train2019[(train2019['bq27'] =='컴퓨터공학')
|(train2019['bq27'] == '지능로봇학')
|(train2019['bq27'] == '모바일인터넷')
|(train2019['bq27'] == '영상영화디자인과')
|(train2019['bq27'] == '방사선과')
|(train2019['bq27'] == '신문방송')
&(train2019['bq27'] !='1')
&(train2019['bq27'] !='2')
&(train2019['bq27'] !='3')
&(train2019['bq27'] !='4')
&(train2019['bq27'] !='5')
&(train2019['bq27'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
train2019 = train2019.drop(wrong_index)

In [24]:
# column 이름을 바꿔서 원위치 시키기

bq27_1_2019.rename(columns={'bq27_1':'bq27-1'},inplace=True)
bq27_1_2019.rename(columns={'bq27':'bq27_1'},inplace=True)
bq27_1_2019.rename(columns={'bq27-1':'bq27'},inplace=True)

In [25]:
# 데이터 합치기
train2019 = pd.concat([train2019,bq27_1_2019])

# 이상값 제거
train2019['bq27_1'].replace('2','이')

0          기계공학과
1            경영학
2              0
3            행정학
4              0
          ...
614       모바일인터넷
3309    영상영화디자인과
3361        방사선과
7251       컴퓨터공학
7758        신문방송
Name: bq27_1, Length: 8555, dtype: object

In [26]:
test2019['bq27'] = test2019['bq27'].map(str)

In [40]:
# 데이터 날리기
drop_index = test2018[(test2018['bq27'] == '60')].index
test2018.drop(drop_index)

drop_index = test2018[(test2018['bq27'] == '2900')].index
test2018.drop(drop_index)

        idx  cq1  cq2  cq3  cq4  ...  bq39    bq40  bq41_1  bq41_2  bq41_3
0      9486    4    1    3    1  ...     0    35.0       0       0    2000
1      9487    5    4    5    5  ...     1    65.0    2700    2200       0
2      9488    3    3    3    4  ...     0    60.0       0       0    3200
3      9489    4    4    4    4  ...     0    20.0       0       0    2000
4      9490    5    2    3    2  ...     2    35.0    3000    1500       0
...     ...  ...  ...  ...  ...  ...   ...     ...     ...     ...     ...
6755  16251    3    5    5    5  ...    40  3000.0    2900       0     NaN
7867  17363    5    5    5    5  ...    50  3500.0    3000       0     NaN
8329  17828    1    1    1    1  ...    48  4500.0    2300       0     NaN
8534  18034    3    5    5    5  ...    48  5100.0    2000       0     NaN
8651  18151    1    5    2    2  ...    40  4000.0    2000       0     NaN

[9069 rows x 140 columns]

In [42]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq27_1_2019 = test2019[(test2019['bq27'] =='건축')
|(test2019['bq27'] == '지질학과')
&(test2019['bq27'] !='1')
&(test2019['bq27'] !='2')
&(test2019['bq27'] !='3')
&(test2019['bq27'] !='4')
&(test2019['bq27'] !='5')
&(test2019['bq27'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = test2019[(test2019['bq27'] =='건축')
|(test2019['bq27'] == '지질학과')
&(test2019['bq27'] !='1')
&(test2019['bq27'] !='2')
&(test2019['bq27'] !='3')
&(test2019['bq27'] !='4')
&(test2019['bq27'] !='5')
&(test2019['bq27'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
test2019 = test2019.drop(wrong_index)

In [43]:
# column 이름을 바꿔서 원위치 시키기

bq27_1_2019.rename(columns={'bq27_1':'bq27-1'},inplace=True)
bq27_1_2019.rename(columns={'bq27':'bq27_1'},inplace=True)
bq27_1_2019.rename(columns={'bq27-1':'bq27'},inplace=True)

In [44]:
# 데이터 합치기
test2019 = pd.concat([test2019,bq27_1_2019])

### 2020년도

In [29]:
train2020 = train2020.apply(lambda x : x.str.strip('과'), axis = 1)
train2020 = train2020.apply(lambda x : x.str.strip('학'), axis = 1)
train2020 = train2020.apply(lambda x : x.str.strip('전공'), axis = 1)
train2020 = train2020.apply(lambda x : x.str.strip('대'), axis = 1)
train2020 = train2020.apply(lambda x : x.str.strip('부'), axis = 1)
train2020 = train2020.apply(lambda x : x.str.strip('계열'), axis = 1)

In [30]:
test2020 = test2020.apply(lambda x : x.str.strip('학과'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('과'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('학'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('전공'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('대'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('부'), axis = 1)
test2020 = test2020.apply(lambda x : x.str.strip('계열'), axis = 1)