<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/20220105_hj_know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Train Data 불러오기


---

리스트 인덱스별로  
train[0] : 2017 data  
train[1] : 2018 data  
train[2] : 2019 data  
train[3] : 2020 data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore') 
know_train = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/KNOW/train/*.csv'))]

##2017 데이터 전처리
'bq31' 전처리 및 label encoding

In [3]:
know2017 = know_train[0]

In [4]:
# 데이터 바꾸기
know2017['bq31'] = know2017['bq31'].str.replace(" ","")
know2017['bq31'] = know2017['bq31'].str.replace("등","")
know2017['bq31'] = know2017['bq31'].str.replace(".",",")
know2017['bq31'] = know2017['bq31'].str.replace("/",",")
know2017['bq31'] = know2017['bq31'].str.replace("(",",")
know2017['bq31'] = know2017['bq31'].str.replace(")",",")

# 영어를 소문자로 변환한다.
know2017['bq31'] = know2017['bq31'].str.lower()

In [5]:
# know2017_1 : 2017데이터의 bq31 columns
know2017_1 = pd.DataFrame(know2017['bq31'])

# DataFrame을 list로 변환한다.
know2017_1 = know2017_1.values.tolist()

# 도구들을 쉼표 단위로 나눠서 tool list에 담는다.
tool = []
for i in range(0,len(know2017_1)):
  tool_1 = know2017_1[i][0].split(',')
  tool.append(tool_1)

# list를 합친다.
tool = sum(tool,[])

In [6]:
# '' 데이터 삭제.
tool = pd.DataFrame(tool)
index = tool[tool[0] == ''].index
tool = tool.drop(index)

In [7]:
### 라벨 인코딩 ###
tool = tool[0].values.tolist()

# dict에 도구 값 넣기
my_dict = {}
for i in range(len(tool)):
  my_dict[tool[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq31'] = know2017['bq31'].map(text_to_list)

0                                  [없다]
1                  [매타기, 드라이버, 가위, cad]
2               [건축설계표, 오토캐드, 파이프, 보일러]
3                         [토탈스테이션, szp]
4                        [캐드, 엑셀, 건축도면]
                     ...
9481            [한글, 편집프로그램, 포토샵, 일러스트]
9482    [autocad, catia, 전문특수정비도구, 툴, ]
9483                           [볼트, 리벳]
9484                              [컴퓨터]
9485                          [차량관리시스템]
Name: bq31, Length: 9486, dtype: object

In [8]:
def tool_to_label(tools:list):
  result = []
  for tool in tools:
    if tool in my_dict:
      result.append(my_dict[tool])
    else :
      result.append(0)
  return result

know2017['label_tool'] = know2017['bq31'].map(tool_to_label)


##2018 데이터 전처리
'bq30' 전처리 및 label encoding

In [9]:
know2018 = know_train[1]

In [10]:
# 데이터 바꾸기
know2018['bq30'] = know2018['bq30'].str.replace(" ","")
know2018['bq30'] = know2018['bq30'].str.replace("등","")
know2018['bq30'] = know2018['bq30'].str.replace(".",",")
know2018['bq30'] = know2018['bq30'].str.replace("/",",")
know2018['bq30'] = know2018['bq30'].str.replace("(",",")
know2018['bq30'] = know2018['bq30'].str.replace(")",",")

# 영어를 소문자로 변환한다.
know2018['bq30'] = know2018['bq30'].str.lower()

In [11]:
# know2018_1 : 2017데이터의 bq30 columns
know2018_1 = pd.DataFrame(know2018['bq30'])

# DataFrame을 list로 변환한다.
know2018_1 = know2018_1.values.tolist()

# 도구들을 쉼표 단위로 나눠서 tool list에 담는다.
tool = []
for i in range(0,len(know2018_1)):
  tool_1 = know2018_1[i][0].split(',')
  tool.append(tool_1)

# list를 합친다.
tool = sum(tool,[])

In [12]:
# '' 데이터 삭제.
tool = pd.DataFrame(tool)
index = tool[tool[0] == ''].index
tool = tool.drop(index)

In [13]:
### 라벨 인코딩 ###
tool = tool[0].values.tolist()

# dict에 도구 값 넣기
my_dict = {}
for i in range(len(tool)):
  my_dict[tool[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2018['bq30'] = know2018['bq30'].map(text_to_list)


def tool_to_label(tools:list):
  result = []
  for tool in tools:
    if tool in my_dict:
      result.append(my_dict[tool])
    else :
      result.append(0)
  return result

know2018['label_tool'] = know2018['bq30'].map(tool_to_label)

'bq37','bq37_1' 전처리 및 label encoding

In [14]:
# bq37행에서 전공 걸러내기
know2018['bq37'].unique()

# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq37_1_2018 = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
know2018 = know2018.drop(wrong_index)

In [15]:
# column 이름을 바꿔서 원위치 시키기
bq37_1_2018.rename(columns={'bq37_1':'bq37-1'},inplace=True)
bq37_1_2018.rename(columns={'bq37':'bq37_1'},inplace=True)
bq37_1_2018.rename(columns={'bq37-1':'bq37'},inplace=True)

In [16]:
# 데이터 합치기
know2018 = pd.concat([know2018,bq37_1_2018])

In [17]:
### *** 데이터가 이상한 값 *** ###
know2018[(know2018['bq37'] == '색채심리상담사')]

# know2018['bq37'] 칼럼을 숫자형으로 바꾸기를 하려고 했는데 색채심리상담사때문에 안됨
# know2018['bq37'] = pd.to_numeric(know2018['bq37'])

        idx  cq1  cq2  cq3  ...  bq41_2  bq41_3  knowcode      label_tool
8551  18048    5    4    3  ...       1            415404  [17003, 16102]

[1 rows x 142 columns]

## 2019 라벨 인코딩

In [18]:
know2019 = know_train[2]

In [19]:
# bq37행에서 전공 걸러내기
know2019['bq27'].unique()

array(['4', '3', '2', '1', '5', '6', '지능로봇학', '모바일인터넷', nan, '영상영화디자인과',
       '방사선과', '컴퓨터공학', '신문방송', 4, 2, 5, 3, 6, 1], dtype=object)

In [20]:
# bq37행에서 전공 걸러내서 bq27_1_2019에 담기
bq27_1_2019 = know2019[(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')
&(know2019['bq27'] != 1)
&(know2019['bq27'] != 2)
&(know2019['bq27'] != 3)
&(know2019['bq27'] != 4)
&(know2019['bq27'] != 5)
&(know2019['bq27'] != 6)]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2019[(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')
&(know2019['bq27'] != 1)
&(know2019['bq27'] != 2)
&(know2019['bq27'] != 3)
&(know2019['bq27'] != 4)
&(know2019['bq27'] != 5)
&(know2019['bq27'] != 6)].index

# 원래 데이터에서 잘못된 row 제거
know2019 = know2019.drop(wrong_index)

In [21]:
# column 이름을 바꿔서 원위치 시키기

bq27_1_2019.rename(columns={'bq27_1':'bq27-1'},inplace=True)
bq27_1_2019.rename(columns={'bq27':'bq27_1'},inplace=True)
bq27_1_2019.rename(columns={'bq27-1':'bq27'},inplace=True)

In [22]:
# 데이터 합치기
know2019 = pd.concat([know2019,bq27_1_2019])

In [23]:
# know2019['bq27'] 칼럼을 숫자형으로 바꾸기
know2019['bq27'] = pd.to_numeric(know2019['bq27'])

In [24]:
### *** 결측치 어떻게 처리할 것인지 ? *** ###
know2019[know2019['bq27'].isnull()]

        idx  sq1  sq2  sq3  sq4  ...  bq30  bq31_1  bq31_2  bq31_3  knowcode
1394  19963    3    4    4    4  ...   NaN     NaN     NaN     NaN     13902
2610  21180    5    5    5    2  ...   NaN     NaN     NaN     NaN    413202
2687  21257    3    2    2    3  ...   NaN     NaN     NaN     NaN    414303

[3 rows x 153 columns]

## 2020 라벨 인코딩

In [25]:
know2020 = know_train[3]

## 전공 라벨 전처리 & 인코딩

In [26]:
major2017 = know2017['bq38_1']
major2017 = major2017.values.tolist()

major2018 = know2018['bq37_1']
major2018 = major2018.values.tolist()

major2019 = know2019['bq27_1']
major2019 = major2019.values.tolist()

major2020 = know2020['bq26_1']
major2020 = major2020.values.tolist()

In [47]:
major = major2017 + major2018 + major2019 + major2020

#### 전공 중복 제거

In [48]:
# 결측치 제거
major = pd.DataFrame(major)
major = major[major[0].notnull()]
major = major[major[0] != ' ']

# 이상값 제거
major.loc[major[0] == '2',0]='이'

# 중복 제거 
major = major.drop_duplicates()

# ,값으로 나누기
major = major.values.tolist()
major_list = []
for i in range(0,len(major)):
  major_list_1 = major[i][0].split(',') 
  major_list.append(major_list_1)
major_list

# 리스트 풀기
major_list = sum(major_list,[])

In [49]:
# '' 데이터 삭제.
major_list = pd.DataFrame(major_list)
index = major_list[major_list[0] == ''].index
major_list = major_list.drop(index)

In [52]:
### 라벨 인코딩 ###
major_list = major_list[0].values.tolist()

# dict에 도구 값 넣기
my_dict = {}
for i in range(len(major_list)):
  my_dict[major_list[i]] = i


def text_to_list(list:str):
  return list(text.split(','))

know2017['bq38_1'] = know2017['bq38_1'].values.tolist()
know2018['bq37_1'] = know2018['bq37_1'].values.tolist()
know2019['bq27_1'] = know2019['bq27_1'].values.tolist()
know2020['bq26_1'] = know2020['bq26_1'].values.tolist()

In [55]:
def major_to_label(majors:list):
  result = []
  for major in majors:
    if major in my_dict:
      result.append(my_dict[major])
    else :
      result.append(0)
  return result

know2017['label_major'] = know2017['bq38_1'].map(major_to_label)
know2018['label_major'] = know2018['bq37_1'].map(major_to_label)
know2019['label_major'] = know2019['bq27_1'].map(major_to_label)
know2020['label_major'] = know2020['bq26_1'].map(major_to_label)

TypeError: ignored