<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/211229_sm_know_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import tensorflow as tf
import keras
from numpy import array
import pandas as pd
from google.colab import drive
import numpy as np
import math
import matplotlib as mpl
from IPython.core.display import display, HTML
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from tensorflow.keras import Sequential
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense, LSTM, Dropout
from keras.callbacks import ModelCheckpoint, EarlyStopping
import json
import datetime
import os
from datetime import datetime
from sklearn.ensemble import RandomForestRegressor
import seaborn as sns

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
train1 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2017.csv', encoding='utf-8')
train2 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2018.csv', encoding='utf-8')
train3 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2019.csv', encoding='utf-8')
train4 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2020.csv', encoding='utf-8')

test1 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2017_test.csv', encoding='utf-8')
test2 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2018_test.csv', encoding='utf-8')
test3 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2019_test.csv', encoding='utf-8')
test4 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2020_test.csv', encoding='utf-8')

submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv', encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (82,95,98,109,111,113,127,128,129,132,136) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (93,94,97,98,99,100,104,105,107,112,132,136,140,142) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (179) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (98,109,111,115,117,128,132) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (131,132,136,141,142,144) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
train = pd.concat([train1, train2, train3, train4], axis=0)

In [ ]:
train4

        idx  saq1_1 saq1_2  saq2_1 saq2_2  ...  bq29 bq30_1  bq30_2 bq30_3  knowcode
0     27127       4      4       4      4  ...    40   4000    2600           304003
1     27128       5      6       5      6  ...    40   4000    3000           221401
2     27129       3      4       3      4  ...    48   4300    3000           815001
3     27130       4      5       2      3  ...    40   3500    3300           304003
4     27131       5      6       4      5  ...    40   5700    2700           140201
...     ...     ...    ...     ...    ...  ...   ...    ...     ...    ...       ...
8117  35244       4      6       3      5  ...    40   5100    4000           121105
8118  35245       3      4       4      5  ...    45   3100    2600            26102
8119  35246       5      6       3      4  ...    40   8000    3000            31301
8120  35247       5      6       5      5  ...    40   5700    3200           154105
8121  35248       2      5       4      6  ...    46   3700    2700            14201

[8122 rows x 185 columns]

In [ ]:
train4

        idx  saq1_1 saq1_2  saq2_1 saq2_2  ...  bq29 bq30_1  bq30_2 bq30_3  knowcode
0     27127       4      4       4      4  ...    40   4000    2600           304003
1     27128       5      6       5      6  ...    40   4000    3000           221401
2     27129       3      4       3      4  ...    48   4300    3000           815001
3     27130       4      5       2      3  ...    40   3500    3300           304003
4     27131       5      6       4      5  ...    40   5700    2700           140201
...     ...     ...    ...     ...    ...  ...   ...    ...     ...    ...       ...
8117  35244       4      6       3      5  ...    40   5100    4000           121105
8118  35245       3      4       4      5  ...    45   3100    2600            26102
8119  35246       5      6       3      4  ...    40   8000    3000            31301
8120  35247       5      6       5      5  ...    40   5700    3200           154105
8121  35248       2      5       4      6  ...    46   3700    2700            14201

[8122 rows x 185 columns]

In [ ]:
submission

         idx  knowcode
0          0        -1
1          1        -1
2          2        -1
3          3        -1
4          4        -1
...      ...       ...
35226  35244        -1
35227  35245        -1
35228  35246        -1
35229  35247        -1
35230  35248        -1

[35231 rows x 2 columns]

In [ ]:
test1

       idx  aq1_1 aq1_2  aq2_1 aq2_2  ...  bq39_2 bq40  bq41_1 bq41_2  bq41_3
0        0      3     4      2     2  ...       1    1    3000           2300
1        1      5     5      3     5  ...       1    1    5500           2500
2        2      5     5      5     4  ...       1    1    4300           4000
3        3      4     5      5     6  ...       1    1    4100           3000
4        4      5     6      4     5  ...       1    1    2800           2000
...    ...    ...   ...    ...   ...  ...     ...  ...     ...    ...     ...
9481  9481      3     4      4     5  ...       6                3400
9482  9482      4     5      4     6  ...       1    1    7000           2400
9483  9483      3     2      1        ...       6                4500
9484  9484      4     5      3     4  ...       1    1    6000           4000
9485  9485      3     4      4     5  ...       1    1    3000           2000

[9486 rows x 155 columns]

In [ ]:
train1.iloc[0]

idx              0
aq1_1            3
aq1_2            3
aq2_1            3
aq2_2            3
             ...
bq40             1
bq41_1        4000
bq41_2
bq41_3        2200
knowcode    825101
Name: 0, Length: 156, dtype: object