<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/220118_sm_know_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
from sklearn.model_selection import train_test_split
from google.colab import drive
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

import pandas as pd
from glob import glob
from tqdm import tqdm
import warnings

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
warnings.filterwarnings(action='ignore') 
know_train = [pd.read_csv(path) for path in sorted(glob('/content/gdrive/MyDrive/know/train/*.csv'))]
know_test = [pd.read_csv(path) for path in sorted(glob('/content/gdrive/MyDrive/know/test/*.csv'))]

In [4]:
train1 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2017.csv', encoding='utf-8')
train2 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2018.csv', encoding='utf-8')
train3 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2019.csv', encoding='utf-8')
train4 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2020.csv', encoding='utf-8')

train3 = train3[train3['idx'] != 19871]

test1 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2017_test.csv', encoding='utf-8')
test2 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2018_test.csv', encoding='utf-8')
test3 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2019_test.csv', encoding='utf-8')
test4 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2020_test.csv', encoding='utf-8')

submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv', encoding='utf-8')

'''
train 2018 : 8551,177,19183,3309(이거는 27이랑 27_1만 바꾸면 됨), 3361('ㅠ21_3 값 숫자로 되어있어야 하는데 한글),7758
test 2019 : 3694, 7090
'''

"\ntrain 2018 : 8551,177,19183,3309(이거는 27이랑 27_1만 바꾸면 됨), 3361('ㅠ21_3 값 숫자로 되어있어야 하는데 한글),7758\ntest 2019 : 3694, 7090\n"

In [5]:
train2 = train2[train2['idx'] != 8551]
train2 = train2[train2['idx'] != 8551]
train2 = train2[train2['idx'] != 8551]
train2 = train2[train2['idx'] != 8551]
train2 = train2[train2['idx'] != 8551]
train2 = train2[train2['idx'] != 8551]

        idx  cq1  cq2  cq3  cq4  ...  bq40  bq41_1  bq41_2  bq41_3  knowcode
0      9486    5    3    4    2  ...    42    3800    3400            306301
1      9487    4    3    4    4  ...    40    2300    1800            133204
2      9488    4    1    5    3  ...  30.0                    3000    702502
3      9489    4    3    4    4  ...    40    3350    2750            121201
4      9490    3    2    3    1  ...    40    2500    2300            306301
...     ...  ...  ...  ...  ...  ...   ...     ...     ...     ...       ...
9067  18564    5    5    5    2  ...    60                    2000    303002
9068  18565    5    5    5    3  ...  52.0                    5000    615203
9069  18566    4    4    4    3  ...    38                    9000    301106
9070  18567    5    2    3    2  ...    56                    6500    301112
9071  18568    5    4    5    4  ...    40    4200    2800            133101

[9072 rows x 141 columns]

In [ ]:
for df in know_train:
    for col in df.columns:
        df[col].replace(' ', '0', inplace=True)

In [ ]:
for df in know_test:
    for col in df.columns:
        df[col].replace(' ', '0', inplace=True)

In [ ]:
years = ['2017', '2018', '2019', '2020']

rf_predicts = []
year_encoder = {}

for year, train, test in zip(years, know_train, know_test):
    print(year)
    encoders = {}
    for col in train.columns:
        if col == 'ID':
            continue
        try:
            train[col] = train[col].map(int)
        except:
            encoder = LabelEncoder()
            train[col] = train[col].map(str)
            train[col] = encoder.fit_transform(train[col])
            encoders[col] = encoder  
    year_encoder[year] = encoders

    feature = train.columns.drop(['idx', 'knowcode'])

    model = RandomForestClassifier(n_estimators=100, random_state=123456, n_jobs=8)
    model.fit(train[feature], train['knowcode'])

    for col in test.columns:
      try:
          test[col] = test[col].map(int)
      except:
          encoder = year_encoder[year][col]
          test[col] = test[col].map(str)
          category_map = {category: idx for idx, category in enumerate(encoder.classes_)}
          test[col] = test[col].apply(lambda x: category_map[x] if x in category_map else -1) # train set에서 보지못한 카테고리변수 -1(UNK) 처리
    feature = test.columns.drop(['idx'])
    pred = model.predict(test[feature])
    rf_predicts.extend(pred)

2017
2018
2019
2020

In [ ]:
submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv') # sample submission 불러오기

In [ ]:
submission['knowcode'] = rf_predicts

In [ ]:
submission

         idx  knowcode
0          0     29401
1          1    140306
2          2    122102
3          3    121102
4          4    412003
...      ...       ...
35226  35244    833001
35227  35245     29902
35228  35246    833001
35229  35247    154101
35230  35248    133901

[35231 rows x 2 columns]

In [ ]:
submission.to_csv('/content/gdrive/MyDrive/know/submission.csv', index=False)