<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/220107_sm_rf_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
from sklearn.model_selection import train_test_split
from google.colab import drive
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import RandomForestClassifier

In [71]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [72]:
warnings.filterwarnings(action='ignore') 
train1 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2017.csv', encoding='utf-8')
train2 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2018.csv', encoding='utf-8')
train3 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2019.csv', encoding='utf-8')
train4 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2020.csv', encoding='utf-8')

test1 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2017_test.csv', encoding='utf-8')
test2 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2018_test.csv', encoding='utf-8')
test3 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2019_test.csv', encoding='utf-8')
test4 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2020_test.csv', encoding='utf-8')

submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv', encoding='utf-8')

train2 = train2[train2['idx'] != 18048]
train3 = train3[train3['idx'] != 19871]

In [73]:
# cols = ['bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq19_1', 'bq30', 'bq31', 'bq32', 'bq33', 'bq34', 'bq38_1']
#bq5_2, bq19_1, bq31(처리필요)
cols = ['bq4_1a', 'bq4_1b', 'bq4_1c', 'bq30', 'bq31', 'bq32', 'bq33', 'bq34', 'bq38_1']

In [74]:
train1['bq31']

0                                   없다
1                   매타기, 드라이버, 가위, CAD
2                건축설계표, 오토캐드, 파이프, 보일러
3                          토탈스테이션, SZP
4                         캐드, 엑셀, 건축도면
                     ...
9481             한글, 편집프로그램, 포토샵, 일러스트
9482    AUTO CAD , CATIA, 전문 특수정비도구(툴)
9483                            볼트, 리벳
9484                               컴퓨터
9485                          차량관리 시스템
Name: bq31, Length: 9486, dtype: object

In [75]:
def text_to_list(text:str):
  result = []
  for i in text.split(','):
    result.append(i)
  return result

train1['bq31'] = train1['bq31'].map(text_to_list)

In [76]:
def list_truncate(tool:list):
  if len(tool) > 3:
    return tool[:3]
  elif len(tool) == 3:
    return tool
  elif len(tool) == 2:
    return tool+['0']
  elif len(tool) == 1:
    return tool+['0', '0']
  elif len(tool) == 0:
    return ['0', '0', '0']

train1['bq31'] = train1['bq31'].map(list_truncate)

def list_to_feature1(tool:list):
  return tool[0]

def list_to_feature2(tool:list):
  return tool[1]

def list_to_feature3(tool:list):
  return tool[2]

feature1 = train1['bq31'].map(list_to_feature1)
feature2 = train1['bq31'].map(list_to_feature2)
feature3 = train1['bq31'].map(list_to_feature3)

train1['feature1'] = feature1
train1['feature2'] = feature2
train1['feature3'] = feature3

train1[['feature1', 'feature2', 'feature3']]

       feature1 feature2       feature3
0            없다        0              0
1           매타기     드라이버             가위
2         건축설계표     오토캐드            파이프
3        토탈스테이션      SZP              0
4            캐드       엑셀           건축도면
...         ...      ...            ...
9481         한글   편집프로그램            포토샵
9482  AUTO CAD     CATIA   전문 특수정비도구(툴)
9483         볼트       리벳              0
9484        컴퓨터        0              0
9485   차량관리 시스템        0              0

[9486 rows x 3 columns]

In [77]:
cols = train1.columns.drop(['bq31', 'bq5_2', 'bq19_1'])

In [78]:
# cols.remove('bq31')
# cols = cols + ['feature1', 'feature2', 'feature3']
train1 = train1[cols]

In [79]:
train1

       idx  aq1_1 aq1_2  aq2_1  ... knowcode   feature1 feature2       feature3
0        0      3     3      3  ...   825101         없다        0              0
1        1      4     5      4  ...   140204        매타기     드라이버             가위
2        2      3     4      3  ...   140204      건축설계표     오토캐드            파이프
3        3      3     3      3  ...   140601     토탈스테이션      SZP              0
4        4      4     5      3  ...   140204         캐드       엑셀           건축도면
...    ...    ...   ...    ...  ...      ...        ...      ...            ...
9481  9481      3     5      2  ...   411301         한글   편집프로그램            포토샵
9482  9482      5     5      5  ...   151105  AUTO CAD     CATIA   전문 특수정비도구(툴)
9483  9483      3     3      4  ...   701101         볼트       리벳              0
9484  9484      3     5      3  ...    25402        컴퓨터        0              0
9485  9485      3     4      3  ...    15201   차량관리 시스템        0              0

[9486 rows x 156 columns]

In [80]:
for col in train1.columns:
    train1[col].replace(' ', '0', inplace=True)

In [81]:
train1

       idx  aq1_1 aq1_2  aq2_1  ... knowcode   feature1 feature2       feature3
0        0      3     3      3  ...   825101         없다        0              0
1        1      4     5      4  ...   140204        매타기     드라이버             가위
2        2      3     4      3  ...   140204      건축설계표     오토캐드            파이프
3        3      3     3      3  ...   140601     토탈스테이션      SZP              0
4        4      4     5      3  ...   140204         캐드       엑셀           건축도면
...    ...    ...   ...    ...  ...      ...        ...      ...            ...
9481  9481      3     5      2  ...   411301         한글   편집프로그램            포토샵
9482  9482      5     5      5  ...   151105  AUTO CAD     CATIA   전문 특수정비도구(툴)
9483  9483      3     3      4  ...   701101         볼트       리벳              0
9484  9484      3     5      3  ...    25402        컴퓨터        0              0
9485  9485      3     4      3  ...    15201   차량관리 시스템        0              0

[9486 rows x 156 columns]

In [82]:
X = train1[train1.columns[1:]]
y = train1['knowcode']

In [87]:
X = X.drop('knowcode', axis=1)

In [88]:
X

      aq1_1 aq1_2  aq2_1 aq2_2  ...  bq41_3   feature1  feature2       feature3
0         3     3      3     3  ...    2200         없다         0              0
1         4     5      4     5  ...    2400        매타기      드라이버             가위
2         3     4      3     4  ...    2400      건축설계표      오토캐드            파이프
3         3     3      3     3  ...    3500     토탈스테이션       SZP              0
4         4     5      3     4  ...    2500         캐드        엑셀           건축도면
...     ...   ...    ...   ...  ...     ...        ...       ...            ...
9481      3     5      2     4  ...    1800         한글    편집프로그램            포토샵
9482      5     5      5     5  ...    3000  AUTO CAD      CATIA   전문 특수정비도구(툴)
9483      3     3      4     6  ...    1500         볼트        리벳              0
9484      3     5      3     5  ...    2500        컴퓨터         0              0
9485      3     4      3     4  ...    3700   차량관리 시스템         0              0

[9486 rows x 154 columns]

In [89]:
from sklearn.preprocessing import LabelEncoder

for col in X.columns:
    if col == 'ID':
        continue
    try:
        X[col] = X[col].map(int)
    except:
        encoder = LabelEncoder()
        X[col] = X[col].map(str)
        X[col] = encoder.fit_transform(X[col])

In [ ]:
X

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True)

In [91]:
model = RandomForestClassifier(n_estimators=100, random_state=123456, n_jobs=8)

In [92]:
model.fit(X_train, y_train)

RandomForestClassifier(n_jobs=8, random_state=123456)

In [93]:
model.score(X_test, y_test)

0.5068493150684932